


  <div class="container-fluid h-custom mt-5" style="height:50vh ;">
    <div class="row d-flex justify-content-center align-items-center ">
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form [formGroup]="formLogin" (submit)="login()">
          <!-- id input -->
          <div class="form-outline mb-4">
            <input type="number" id="form3Example3" class="form-control form-control-lg"
              placeholder="Ingresa tu ID" formControlName="id"/>
            <label class="form-label" for="form3Example3">ID</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" formControlName="password"/>
            <label class="form-label" for="form3Example4">Contraseña</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="formLogin.invalid" type="submit" class="btn  btn-lg"
              style="background-color: #EE691E; color: white;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">No tienes cuenta? <a href="#!"
                style="text-decoration: none; color: #EE691E;"  [routerLink]="['/registro']">Registrate</a></p>
          </div>
        </form>
        
      </div>
    </div>
  </div>
  

